/*------------------------------------------------------------------------------
               Obsidian Colored Sidebar Items by CyanVoxel v2.0.0               
------------------------------------------------------------------------------*/

/* ================================ Colors ================================ */
:root {
  --red: #e22c3c;                
  --red-orange: #e9404b;         
  --orange: #ee6748;             
  --amber: #fa9f50;              
  --yellow: #ffd85e;             
  --lime: #97e768;               
  --mint: #52eea3;               
  --cyan: #51e1e9;               
  --cool-cyan: #43cfea;          
  --light-blue: #54b6f8;         
  --blue: #437cf3;               
  --blue-violet: #6f51f4;        
  --violet: #9446f8;             
  --purple: #c952ed;             
  --magenta: #e54f9b;            
  --hot-red: #e3365e;            
  --cool-gray: #515768;          

  --default-text-color: #d0d0d0;
  --highlight: #fff;
  --shadow: #0b0c2c;

  --nav-item-weight-hover: bold;
}

/* Light Theme Specific Properties */
.theme-light {
  --contrast-color: var(--shadow);
  --default-text-color: var(--shadow);
}

/* Dark Theme Specific Properties */
.theme-dark {
  --contrast-color: var(--highlight);
}

/* ================================ Styling ================================ */

/* All Folder Titles */
.nav-folder-title {
  font-weight: bold;
  border-radius: 5px;
}

/* Narrower Padding on Desktop */
@media only screen and (min-width: 768px) {
  .nav-file-title,
  .nav-folder-title {
    padding-top: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
    padding-left: 15px;
  }
}

/* ------------------------------- Prefixes -------------------------------- */

/* Directory and Files Styling */
.nav-folder-title[data-path^="00"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="00"]) .nav-file-title {
  color: var(--mint);
}
.nav-folder-title[data-path^="01"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="01"]) .nav-file-title {
  color: var(--cyan);
}
.nav-folder-title[data-path^="02"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="02"]) .nav-file-title {
  color: var(--light-blue);
}
.nav-folder-title[data-path^="03"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="03"]) .nav-file-title {
  color: var(--blue);
}
.nav-folder-title[data-path^="04"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="04"]) .nav-file-title {
  color: var(--violet);
}
.nav-folder-title[data-path^="05"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="05"]) .nav-file-title {
  color: var(--purple);
}
.nav-folder-title[data-path^="06"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="06"]) .nav-file-title {
  color: var(--magenta);
}
.nav-folder-title[data-path^="07"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="07"]) .nav-file-title {
  color: var(--hot-red);
}
.nav-folder-title[data-path^="99"],
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="99"]) .nav-file-title {
  color: var(--cool-gray);
}
